.header-img {
    padding: 250px;
}

.top-gap {
    margin-top: 70px;
}

.header-user {
    float: right;
    position: relative;
}

.top-nav-gap {
    margin-left: 50px;
}

.nav-gap {
    margin-right: 30px;
}

.ban-contact {
    margin-left: 30px;
}

.nav-color {
    color: #475e74;
}

.number-color {
    color: #f38035;
}

.logo {
    height: 10vh;
}

.search-bar {
    margin-top: -40px;
}

.shared-text-style {
    font-weight: bold;
    color: #00512f;
}

.contact-part-top {
    color: white;
    background-color: #004c2c;
}

.contact-part-bottom,
.client-part {
    color: white;
}

.contact-img {
    background-image: url(images/bgExport.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.identity-section,
.bottom-nav {
    background-color: #fbf7f4;
}

.table-style {
    border: 7px solid white;
    background-color: #f3f5f4;
}

.client-review {
    background-color: #014c2d;
    padding: 100px;
}

.blog-button {
    background: linear-gradient(30deg, #f27322, #db6012), linear-gradient(0deg, #f27322, #db6012);
    color: #ffffff;
}

.icons {
    margin-right: 30px;
    color: #f78031;
    font-size: 35px;
}