.header-img {
    padding: 250px;
}

.top-gap {
    margin-top: 70px;
}

.header-user {
    float: right;
    position: relative;
}

.top-nav-gap {
    margin-left: 50px;
}

.nav-gap {
    margin-right: 30px;
}

.ban-contact {
    margin-left: 20px;
}

.nav-color {
    color: #475e74;
}

.number-color {
    color: #f38035;
}

.logo {
    height: 10vh;
}

.search-bar {
    margin-top: -15px;
    background-color: #ebf3f7;
}

.search-button {
    color: #fff;
    background-color: #f27321;
    border: none;
}

.shared-text-style {
    font-weight: bold;
    color: #00512f;
}

.contact-part-top {
    background-image: url(images/bgExportTop.png);
    color: white;
    margin-bottom: -1.5px;
}

.contact-part-bottom,
.client-part {
    color: white;
}

.contact-img {
    background-image: url(images/bgExport.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    color: white;
}

.identity-section,
.bottom-nav {
    background-color: #fbf7f4;
}

.table-col {
    border-right: 1px solid #d4d0d0;
    border-left: 1px solid #d4d0d0;
}

.table-style {
    border: 7px solid white;
    background-color: #f3f5f4;
}

.client-review {
    background-color: #014c2d;
    padding: 100px;
}

.blog-button {
    background: linear-gradient(30deg, #ec8e54, #db6012);
    color: #ffffff;
    border: none;
    border-radius: none;
    outline: none;
}

.FAQs {
    border: 1px solid red;
    border-radius: 10px;
}

.icons {
    margin-right: 30px;
    color: #f78031;
    font-size: 35px;
}

.img-control {
    height: 500px;
    width: 350px;
}