.header-img {
    padding: 250px;
}

.header-user {
    float: right;
    position: relative;
}

.top-nav-gap {
    margin-right: 80px;
}

.nav-gap {
    margin-right: 30px;
}

.nav-color {
    color: #475e74;
}

.number-color {
    color: #f38035;
}

.logo {
    height: 10vh;
}

.search-bar {
    width: 100 px;
}

.header-text {
    text-position: center;
}

.header-text-h1 {
    font-weight: bold;
    color: #00512f;
}

.header-text-p {
    color: #00512f;
}

.header-text-h2 {
    color: #f27c30;
    font-weight: bold;
}

.header-text-h3 {
    color: #f27c30;
    font-weight: bold;
}

.contact-part-top {
    color: white;
    background-color: #004c2c;
}

.contact-part-bottom {
    color: white;
}

.contact-img {
    background-image: url(images/bgExport.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.ban-img {
    background-image: url(images);
    /* width: 20px; */
}